:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--background);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --background: white;
  --background-primary: #007dd5;
  --background-primary-hover: hsl(205, 100%, 33%);
  --background-secondary: #eef8ff;
  --background-secondary-hover: #daefff;
  --text-primary: #008df0;
  --text-secondary: #707d87;
  --text-default: #000000;
}

@media (prefers-color-scheme: dark) {
  :root {
    color: rgba(255, 255, 255, 0.87);
    background-color: var(--background);

    --background: #242424;
    --background-primary: #007dd5;
    --background-primary-hover: hsl(205, 100%, 33%);
    --background-secondary: #1e1e1e;
    --background-secondary-hover: #2a2a2a;
    --text-primary: #64b5f6;
    --text-secondary: #b0bec5;
    --text-default: #ffffff;
  }
}

@theme inline {
  --color-bg: var(--background);
  --color-bg-primary: var(--background-primary);
  --color-bg-primary-hover: var(--background-primary-hover);
  --color-bg-secondary: var(--background-secondary);
  --color-bg-secondary-hover: var(--background-secondary-hover);
  --color-text-primary: var(--text-primary);
  --color-text-secondary: var(--text-secondary);
  --color-text-default: var(--text-default);
}

/* Global reset and base styles */
* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

#root {
  height: 100%;
}

/* a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */


.title {
  font-family: 'Poppins', sans-serif;
  font-weight: 900;
  font-size: 2.5em;
}

.subtitle {
  font-family: 'Poppins', sans-serif;
  font-weight: 800;
  font-size: 1.5em;
}

.standard-bold {
  font-family: 'Nunito', sans-serif;
  font-weight: 900;
  font-size: 1em;
}

.standard-sub {
  font-family: 'Nunito', sans-serif;
  font-weight: 600;
  font-size: 1em;
}

@import "tailwindcss";