:root {

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --color-background: #000;
  --color-text: #ffffff;
  --color-text-secondary: #939393;
  --color-secondary: #1E1E1E;
  --color-secondary-hover: hsl(0, 0%, 20%);
  --color-primary: #096FFF;
  --color-primary-hover: hsl(215, 100%, 60%);
  --color-accent: #539BFF;
  --color-green: #71FF7D;
  --color-red: #FF5E5E;
  --color-yellow: #FFC756;

  color-scheme: dark;
  color: var(--color-text);
  background-color: var(--color-background);

  font-family: 'Poppins';
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: #000;
    --color-text: #ffffff;
    --color-text-secondary: #939393;
    --color-secondary: #1E1E1E;
    --color-secondary-hover: hsl(0, 0%, 20%);
    --color-primary: #096FFF;
    --color-primary-hover: hsl(215, 100%, 60%);
    --color-accent: #539BFF;
    --color-green: #71FF7D;
    --color-red: #FF5E5E;
    --color-yellow: #FFC756;

    color: var(--color-text);
    background-color: var(--color-background);

  }
}

/* Global reset and base styles */
* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

#root {
  height: 100%;
}

@import "tailwindcss";